@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');

#image-container{
  width:40%;
  margin:100px auto;
  overflow: hidden;
  position: relative;

}
#image-wrapper {
  width:2400px;

}
.Image-wrapper img{
  width:600px;
  float: left;
}
#previous{
  position: absolute;
  top:45%;
  left:8%;
  font-size: 45px;
  color:white;

}
#next{
  position: absolute;
  top:45%;
  right:8%;
  font-size: 45px;
  color:white;
}
#first{
  position: absolute;
  top:90%;
  left:44%;

}
#second{
  position: absolute;
  left:48%;
  top:90%;
}
#third{
  position: absolute;
  left:52%;
  top:90%;
}
#fourth{
  position: absolute;
  left:56%;
  top:90%;
}
